public net.minecraft.world.item.crafting.Ingredient$ItemValue
public net.minecraft.server.MinecraftServer$ReloadableResources
public net.minecraft.world.item.crafting.Ingredient$Value
public net.minecraft.world.item.crafting.Ingredient$TagValue
public net.minecraft.world.inventory.BeaconMenu$PaymentSlot
public-f net.minecraft.world.item.crafting.RecipeManager recipes
public-f net.minecraft.world.inventory.AnvilMenu cost
public-f net.minecraft.world.inventory.AnvilMenu itemName
public-f net.minecraft.world.inventory.AnvilMenu repairItemCountCost
public-f net.minecraft.server.level.ChunkMap updatingChunkMap
public-f net.minecraft.world.entity.item.FallingBlockEntity blockState
public net.minecraft.client.gui.screens.inventory.AbstractContainerScreen renderSlot(Lnet/minecraft/client/gui/GuiGraphics;Lnet/minecraft/world/inventory/Slot;)V # renderSlot
public-f net.minecraft.world.entity.item.FallingBlockEntity blockState
public-f net.minecraft.world.entity.item.FallingBlockEntity cancelDrop
public-f net.minecraft.world.phys.BlockHitResult miss
public net.minecraft.world.item.BlockItem canPlace(Lnet/minecraft/world/item/context/BlockPlaceContext;Lnet/minecraft/world/level/block/state/BlockState;)Z # canPlace

public net.minecraft.world.level.block.ConcretePowderBlock concrete
#public net.minecraft.world.level.block.CropBlock getBaseSeedId()Lnet/minecraft/world/level/ItemLike;
#public net.minecraft.world.level.block.GrowingPlantBodyBlock getHeadBlock()Lnet/minecraft/world/level/block/GrowingPlantHeadBlock;
public net.minecraft.world.level.block.CandleCakeBlock candleBlock

public net.minecraft.data.loot.BlockLootSubProvider add(Lnet/minecraft/world/level/block/Block;Lnet/minecraft/world/level/storage/loot/LootTable$Builder;)V # add
public net.minecraft.data.loot.BlockLootSubProvider createSinglePropConditionTable(Lnet/minecraft/world/level/block/Block;Lnet/minecraft/world/level/block/state/properties/Property;Ljava/lang/Comparable;)Lnet/minecraft/world/level/storage/loot/LootTable$Builder; # createSinglePropConditionTable

public-f net.minecraft.client.gui.components.AbstractWidget render(Lnet/minecraft/client/gui/GuiGraphics;IIF)V # render

public net.minecraft.world.entity.Entity collide(Lnet/minecraft/world/phys/Vec3;)Lnet/minecraft/world/phys/Vec3; # collide

public net.minecraft.client.renderer.LevelRenderer renderBuffers # renderBuffers

public net.minecraft.world.item.crafting.AbstractCookingRecipe result # result
public net.minecraft.world.item.crafting.AbstractCookingRecipe ingredient # ingredient
public net.minecraft.world.item.crafting.ShapedRecipe result # result
public net.minecraft.world.item.crafting.ShapelessRecipe result # result

public net.minecraft.world.level.storage.loot.parameters.LootContextParamSets REGISTRY # REGISTRY
public-f net.minecraft.world.level.storage.loot.LootTable functions
public-f net.minecraft.world.level.storage.loot.LootTable compositeFunction
public net.minecraft.world.entity.animal.cow.MushroomCow stewEffects
public net.minecraft.world.entity.monster.zombie.ZombieVillager startConverting(Ljava/util/UUID;I)V

public net.minecraft.world.inventory.AbstractContainerMenu stillValid(Lnet/minecraft/world/inventory/ContainerLevelAccess;Lnet/minecraft/world/entity/player/Player;Lnet/minecraft/world/level/block/Block;)Z # stillValid

public net.minecraft.client.renderer.entity.ItemRenderer itemColors # itemColors
public net.minecraft.client.renderer.RenderType$CompositeRenderType
public net.minecraft.client.renderer.RenderType$CompositeRenderType state()Lnet/minecraft/client/renderer/RenderType$CompositeState; # state
public net.minecraft.client.renderer.RenderType$CompositeState textureState # textureState
public net.minecraft.client.renderer.RenderType$CompositeState transparencyState # transparencyState
public net.minecraft.client.renderer.RenderStateShard$TextureStateShard texture

public net.minecraft.world.level.block.TrapDoorBlock toggle(Lnet/minecraft/world/level/block/state/BlockState;Lnet/minecraft/world/level/Level;Lnet/minecraft/core/BlockPos;Lnet/minecraft/world/entity/player/Player;)V # toggle
public net.minecraft.world.level.block.DoorBlock getHinge(Lnet/minecraft/world/item/context/BlockPlaceContext;)Lnet/minecraft/world/level/block/state/properties/DoorHingeSide; # getHinge
public net.minecraft.world.level.block.piston.PistonBaseBlock moveBlocks(Lnet/minecraft/world/level/Level;Lnet/minecraft/core/BlockPos;Lnet/minecraft/core/Direction;Z)Z # moveBlocks
public net.minecraft.client.renderer.LevelRenderer setBlockDirty(Lnet/minecraft/core/BlockPos;Z)V

public net.minecraft.client.renderer.FogRenderer fogRed
public net.minecraft.client.renderer.FogRenderer fogGreen
public net.minecraft.client.renderer.FogRenderer fogBlue

public-f net.minecraft.world.level.block.state.BlockBehaviour$Properties hasCollision

public net.minecraft.client.Minecraft missTime
public net.minecraft.client.Minecraft handleKeybinds()V

public net.minecraft.world.entity.Entity inBlockState
public net.minecraft.world.entity.Entity collideWithShapes(Lnet/minecraft/world/phys/Vec3;Lnet/minecraft/world/phys/AABB;Ljava/util/List;)Lnet/minecraft/world/phys/Vec3; # collideWithShapes

public com.mojang.blaze3d.vertex.Tesselator buffer
public com.mojang.blaze3d.vertex.ByteBufferBuilder pointer
public com.mojang.blaze3d.vertex.ByteBufferBuilder capacity
public com.mojang.blaze3d.vertex.ByteBufferBuilder writeOffset
public com.mojang.blaze3d.vertex.BufferBuilder format
public com.mojang.blaze3d.vertex.BufferBuilder vertices

public com.mojang.blaze3d.vertex.VertexBuffer vertexBufferId
public com.mojang.blaze3d.vertex.VertexBuffer indexBufferId
public com.mojang.blaze3d.vertex.VertexBuffer arrayObjectId
public com.mojang.blaze3d.vertex.VertexBuffer format
public com.mojang.blaze3d.vertex.VertexBuffer usage
public com.mojang.blaze3d.vertex.VertexBuffer sequentialIndices

public-f net.minecraft.world.level.block.AbstractCauldronBlock interactions

public net.minecraft.world.level.block.state.properties.IntegerProperty max

public net.minecraft.world.level.block.AbstractCauldronBlock useItemOn(Lnet/minecraft/world/item/ItemStack;Lnet/minecraft/world/level/block/state/BlockState;Lnet/minecraft/world/level/Level;Lnet/minecraft/core/BlockPos;Lnet/minecraft/world/entity/player/Player;Lnet/minecraft/world/InteractionHand;Lnet/minecraft/world/phys/BlockHitResult;)Lnet/minecraft/world/ItemInteractionResult;

public net.minecraft.world.entity.monster.Phantom$PhantomSweepAttackGoal
public net.minecraft.world.entity.monster.Phantom$PhantomSweepAttackGoal isScaredOfCat

public net.minecraft.world.entity.monster.Shulker COVERED_ARMOR_MODIFIER_ID
public net.minecraft.world.entity.monster.Shulker DATA_PEEK_ID

public net.minecraft.client.multiplayer.ClientLevel getEntities()Lnet/minecraft/world/level/entity/LevelEntityGetter;
public net.minecraft.world.level.Level getEntities()Lnet/minecraft/world/level/entity/LevelEntityGetter;

public net.minecraft.world.entity.item.FallingBlockEntity <init>(Lnet/minecraft/world/level/Level;DDDLnet/minecraft/world/level/block/state/BlockState;)V

public net.minecraft.world.item.MaceItem knockback(Lnet/minecraft/world/level/Level;Lnet/minecraft/world/entity/Entity;Lnet/minecraft/world/entity/Entity;)V
public net.minecraft.client.gui.screens.inventory.CyclingSlotBackground slotIndex

public net.minecraft.world.entity.Mob getEquipmentDropChance(Lnet/minecraft/world/entity/EquipmentSlot;)F # getEquipmentDropChance

public net.minecraft.world.level.storage.loot.functions.ApplyBonusCount$Formula

public net.minecraft.core.Holder$Reference type
public net.minecraft.core.Holder$Reference owner
public-f net.minecraft.core.Holder$Reference tags
public net.minecraft.core.Holder$Reference$Type

public net.minecraft.world.entity.ExperienceOrb count

public net.minecraft.world.level.block.AnvilBlock falling(Lnet/minecraft/world/entity/item/FallingBlockEntity;)V
public net.minecraft.world.level.block.FallingBlock falling(Lnet/minecraft/world/entity/item/FallingBlockEntity;)V

public net.minecraft.world.entity.projectile.arrow.AbstractArrow piercingIgnoreEntityIds # piercingIgnoreEntityIds
public net.minecraft.world.entity.projectile.arrow.AbstractArrow life # life

public net.minecraft.client.renderer.PostChain customRenderTargets

protected net.minecraft.client.gui.components.CommandSuggestions input
protected net.minecraft.client.gui.components.CommandSuggestions minecraft
protected net.minecraft.client.gui.components.CommandSuggestions fillColor
protected net.minecraft.client.gui.components.CommandSuggestions currentParse
protected net.minecraft.client.gui.components.CommandSuggestions commandUsageWidth
protected net.minecraft.client.gui.components.CommandSuggestions currentParseIsCommand
protected net.minecraft.client.gui.components.CommandSuggestions currentParseIsMessage
protected net.minecraft.client.gui.components.CommandSuggestions keepSuggestions
protected net.minecraft.client.gui.components.CommandSuggestions messagesAllowed
protected net.minecraft.client.gui.components.CommandSuggestions suggestions
protected net.minecraft.client.gui.components.CommandSuggestions commandUsage
protected net.minecraft.client.gui.components.CommandSuggestions commandsOnly
protected net.minecraft.client.gui.components.CommandSuggestions pendingSuggestions
protected net.minecraft.client.gui.components.CommandSuggestions onlyShowIfCursorPastError
protected net.minecraft.client.gui.components.CommandSuggestions commandUsagePosition
protected net.minecraft.client.gui.components.CommandSuggestions anchorToBottom
protected net.minecraft.client.gui.components.CommandSuggestions screen
protected net.minecraft.client.gui.components.CommandSuggestions font
protected net.minecraft.client.gui.components.CommandSuggestions MESSAGES_NOT_ALLOWED_TEXT
protected net.minecraft.client.gui.components.CommandSuggestions hasMessageArguments(Lcom/mojang/brigadier/ParseResults;)Z
protected net.minecraft.client.gui.components.CommandSuggestions updateUsageInfo(Lcom/mojang/brigadier/ParseResults;Lcom/mojang/brigadier/suggestion/Suggestions;)V
protected net.minecraft.client.gui.components.CommandSuggestions recomputeUsageBoxWidth()V
protected net.minecraft.client.gui.components.CommandSuggestions getLastWordIndex(Ljava/lang/String;)I

public net.minecraft.world.item.ItemStack addUnitComponentToTooltip(Lnet/minecraft/core/component/DataComponentType;Lnet/minecraft/network/chat/Component;Lnet/minecraft/world/item/component/TooltipDisplay;Ljava/util/function/Consumer;)V
public net.minecraft.world.item.crafting.SingleItemRecipe result

public net.minecraft.world.item.crafting.RecipeMap <init>(Lcom/google/common/collect/Multimap;Ljava/util/Map;)V

public net.minecraft.world.item.enchantment.Enchantment$GenericAction
public net.minecraft.world.level.Level DEFAULT_EXPLOSION_BLOCK_PARTICLES

public net.minecraft.world.level.block.Block$ShapePairKey
public net.minecraft.world.level.block.Block$ShapePairKey <init>(Lnet/minecraft/world/phys/shapes/VoxelShape;Lnet/minecraft/world/phys/shapes/VoxelShape;)V
public net.minecraft.world.level.block.AbstractCauldronBlock useItemOn(Lnet/minecraft/world/item/ItemStack;Lnet/minecraft/world/level/block/state/BlockState;Lnet/minecraft/world/level/Level;Lnet/minecraft/core/BlockPos;Lnet/minecraft/world/entity/player/Player;Lnet/minecraft/world/InteractionHand;Lnet/minecraft/world/phys/BlockHitResult;)Lnet/minecraft/world/InteractionResult;

public net.minecraft.world.item.crafting.display.SlotDisplay applyDemoTransformation(Lnet/minecraft/util/context/ContextMap;Lnet/minecraft/world/item/crafting/display/DisplayContentsFactory;Lnet/minecraft/world/item/crafting/display/SlotDisplay;Lnet/minecraft/world/item/crafting/display/SlotDisplay;Ljava/util/function/BinaryOperator;)Ljava/util/stream/Stream;

public net.minecraft.core.NonNullList <init>(Ljava/util/List;Ljava/lang/Object;)V
